doctype html
html
  head

    // bower:css
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    // endbower


    // bower:js
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    // endbower

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

      .container
          block content
