extends ../layout
block content

    .panel.panel-default
        .panel-body
            form#create-form(name='create-user-form',method='POST')
                .form-group
                    label(for='email') Email
                    input.form-control#email(type='email', name='email',value=input.email)
                .form-group
                    label(for='password') Password
                    input.form-control#password(type='password', name='password', autocomplete='off')
                .form-group
                    input.btn.btn-default(type='submit', value='Create my account')