extends ../layout
block content
    .panel.panel-default
        .panel-body
            form#login-form(name='login-form',method="POST",action="/users/login")
                .form-group
                   label(for='email') Email
                   input.form-control#email(type='email', name='email',required='required')
                .form-group
                   label(for='password') Password
                   input.form-control#password(type='password', name='password',required='required')
                .checkbox
                   label(for='rememberMe')
                    input#rememberMe(type='checkBox', name='rememberMe')
                    | Remember Me
                .form-group
                   input.btn.btn-default(type='submit', value='Log in')